body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background-container {
    display: flex;
    height: 100vh;
}

.bg-left {
    flex: 1;
    /*takes up only one section of the flex*/
    background-image: url(./rafael-garcin--Qy96U7EvF8-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.bg-text {
    /*This section is the label on top of the background image*/
    background: white;
    opacity: .97;
    color: rgb(46, 14, 70);
    margin-top: 10rem;
    text-align: center;
    font-size: 70px;

}

.content-right {
    flex: 2;
    padding: 40px;
    background-color: aliceblue;
}
